@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
.landing {
    padding-top: 100px;
    padding-left: 3%;
}

.hero {
    display: flex;
    justify-content: space-around;

    .hero-txt {
        h1 {
            font-family: "Italianno", cursive;
            font-weight: 500;
            font-style: normal;
            font-size: 125px;
            color: #fbb636;

        }

        p {
            font-size: 20px;
        }
    }

    .hero-img {
        img {
            height: 560px;
            border-radius: 90%;
        }

        .hero-btn {
            display: flex;
            gap: 15px;
            position: relative;
            top: -70px;

            button {
                height: 50px;
                width: 100px;
                padding: 10px;
                background-color: black;
                border: 2px solid black;
                color: #fbb636;
                border-radius: 40px;
            }

            button:hover {
                background-color: #fbb636;
                color: black;
                border: 2px solid #fbb636;
            }
        }
    }
}

.features{
    h2{
        font-size: 80px;
        color: #fbb636;
    }
    .features-container{
        display: flex;
        gap: 100px;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
}