@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
.auth-box{
    background-color: #fbb636;
    width: 50%;
    height: 100vh;
    text-align: center;
    padding: 100px;
    border: 15px double #ffffff;
    h2{
        font-size: 100px;
         font-family: "Italianno", cursive;
            font-weight: 500;
            font-style: normal;
    }
    p{
        font-size: 20px;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input{
        padding: 10px;
        size: 20px;
        margin-bottom: 10px;
        width: 50%;
        border-radius: 10px;
        border: none;
    }
    input:focus{
        border: none;
        outline: none;
    }
    button{
        border-radius: 10px;
        border: none;
        padding: 10px;
        width: 30%;
        margin-bottom: 20px;
        background-color: #ac7000;
        color: white;
        cursor: pointer;
    }
    span{
        cursor: pointer;
        text-decoration: none;
    }
    span:hover{
        text-decoration: underline;
    }
}
.auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
}